<html>
<head></head>
<body>
  <h1 class="rainbow"> STUPID COACHING </h1>
  <div>
    <p>"<%= @input %>"</p>
    <p> - Your input</p>
  </div>
  <div class="answer">
    <p><%= @answer %></p>
    <p> - Coach's answer</p>
  </div>

  <p class="link"><%= link_to "Ask a new question!", ask_path %></p>

</body></html>
