<form action="/answer" class="form-inline">
  <label for="question">Ask your coach!</label>
  <br>
  <input type="text" id="question" name="input" class="form-control">
  <input type="submit" value="Ask now" class="btn">
</form>


<%=@hello %>
